.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.input_text input{
  height: 25px;
  width: 250px;
}

button{
  position: relative;
  height: 25px;
  width: 150px;
  left:10px;
  background-color: rgb(156, 61, 244);
  color: rgba(255, 255, 255);
}

.dimension{
  margin: 10px;
}

.output_generator{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.download_button{
 margin: 20px;
 border-radius: 5px;
}